#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
        
        // Home row mods behavior for Miryoku
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Base (Colemak-DH with home row mods)
        default_layer {
            display-name = "Miryoku";
            bindings = <
&none         &kp Q         &kp W         &kp F         &kp P         &kp B                             &none                 &kp J         &kp L         &kp U         &kp Y         &kp SQT       &none
&none         &hm LGUI A    &hm LALT R    &hm LCTRL S   &hm LSHFT T   &kp G                     &none   &none   &none         &kp M         &hm LSHFT N   &hm LCTRL E   &hm LALT I    &hm LGUI O    &none
&none         &kp Z         &hm RALT X    &kp C         &kp D         &kp V         &none               &none                 &kp K         &kp H         &kp COMMA     &hm RALT DOT  &kp FSLH      &none
                                          &lt 3 ESC     &lt 1 SPACE   &lt 2 TAB                                               &lt 5 ENTER   &lt 4 BSPC    &lt 6 DEL
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        // Layer 1: Navigation
        nav_layer {
            display-name = "Nav";
            bindings = <
&none         &sys_reset    &none         &none         &none         &none                             &none                 &none         &kp LC(V)     &kp LC(C)     &kp LC(X)     &kp LC(Z)     &none
&none         &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &none                     &none   &none   &none         &kp CAPS      &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &none
&none         &none         &kp RALT      &none         &none         &none         &none               &none                 &kp INS       &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &none
                                          &none         &none         &none                                                   &kp ENTER     &kp BSPC      &kp DEL
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        // Layer 2: Mouse
        mouse_layer {
            display-name = "Mouse";
            bindings = <
&none         &sys_reset    &none         &none         &none         &none                             &none                 &none         &kp LC(V)      &kp LC(C)      &kp LC(X)    &kp LC(Z)       &none
&none         &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &none                     &none   &none   &none         &none         &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &none
&none         &none         &kp RALT      &none         &none         &none         &none               &none                 &none         &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT &none
                                          &none         &none         &none                                                   &mkp RCLK     &mkp LCLK      &mkp MCLK
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        // Layer 3: Media/RGB/Bluetooth
        mediabt_layer {
            display-name = "MediaBT";
            bindings = <
&none          &sys_reset    &none         &none         &none         &none                             &none                 &rgb_ug RGB_TOG   &rgb_ug RGB_EFF   &rgb_ug RGB_HUI   &rgb_ug RGB_SAI   &rgb_ug RGB_BRI &rgb_ug RGB_OFF
&none          &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &none                     &none   &none   &none         &none             &kp C_PREV        &kp C_VOL_DN      &kp C_VOL_UP      &kp C_NEXT      &rgb_ug RGB_ON
&bt BT_CLR_ALL &bt BT_SEL 0  &kp RALT      &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none               &none                 &rgb_ug RGB_EFR   &rgb_ug RGB_SPI   &rgb_ug RGB_BRI   &rgb_ug RGB_BRD   &none           &rgb_ug RGB_EFF
                                          &none         &none         &none                                                   &kp C_STOP        &kp C_PP          &kp C_MUTE
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        // Layer 4: Numbers
        num_layer {
            display-name = "Num";
            bindings = <
&none         &kp LBKT      &kp N7        &kp N8        &kp N9        &kp RBKT                          &none                 &none         &none         &none         &none         &sys_reset    &none
&none         &kp SEMI      &kp N4        &kp N5        &kp N6        &kp EQUAL                 &none   &none   &none         &none         &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI      &none
&none         &kp GRAVE     &kp N1        &kp N2        &kp N3        &kp BSLH      &none               &none                 &none         &none         &none         &kp RALT      &none         &none
                                          &kp DOT       &kp N0        &kp MINUS                                               &none         &none         &none
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        // Layer 5: Symbols
        sym_layer {
            display-name = "Sym";
            bindings = <
&none         &kp LBRC      &kp AMPS      &kp ASTRK     &kp LPAR      &kp RBRC                          &none                 &none         &none         &none         &none         &sys_reset    &none
&none         &kp COLON     &kp DLLR      &kp PRCNT     &kp CARET     &kp PLUS                  &none   &none   &none         &none         &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI      &none
&none         &kp TILDE     &kp EXCL      &kp AT        &kp HASH      &kp PIPE      &none               &none                 &none         &none         &none         &kp RALT      &none         &none
                                          &kp LPAR      &kp RPAR      &kp UNDER                                               &none         &none         &none
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        // Layer 6: Function Keys
        func_layer {
            display-name = "Func";
            bindings = <
&none         &kp F12       &kp F7        &kp F8        &kp F9        &kp PSCRN                         &none                 &none         &none         &none         &none         &sys_reset    &none
&none         &kp F11       &kp F4        &kp F5        &kp F6        &kp SLCK                  &none   &none   &none         &none         &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI      &none
&none         &kp F10       &kp F1        &kp F2        &kp F3        &kp PAUSE_BREAK &none             &none                 &none         &none         &none         &kp RALT      &none         &none
                                          &kp K_APP     &kp SPACE     &kp TAB                                                 &none         &none         &none
            >;
            sensor-bindings = <&scroll_encoder>;
        };
    };
};